*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{

    font-size: 62.5%;

}

body{


   line-height: 3rem;
   color:#555;
   padding: 3rem;



}


.a-tag{
    text-decoration: none;
    color:#f2e6ff;
}


.nav-a{
    text-decoration: none;
    color:#f2e6ff;
}

.container{

    height: 100vh;
    background-image:
    linear-gradient(to right ,rgba(12, 111, 209, 0.5) 5%,
    rgba(115, 67, 134, 0.815)75%)

    ,
    url('https://raw.githubusercontent.com/saigowthamr/Html-Css-grid/9026f9bb445e017fbf0c43deacfd1e304c71a5d7/images/main-img-min.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 83%);
clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 83%);
position: relative;
background-attachment: fixed;
}

.row{
    width: 100rem;
    margin: 0 auto;

}


.header{
position: absolute;

background-color: rgba(53, 197, 144, 0.068);

top:2rem;
right:0;
}

.header ul{
     letter-spacing: .3rem;
     display: grid;
      grid-template-columns: repeat(3,auto);
      list-style: none;
      padding: 2rem;
      font-size: 1.8rem;
      grid-column-gap: 1rem;
      color:#f2e6ff;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.nav-li{

     margin-right: 1rem;

     padding: 1rem 3.5rem;
     transition:all .2s;

}
.nav-li:hover{
    padding-bottom:2rem;
    border-bottom:2px solid red;
    border-bottom-width: .3rem;

    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    color:#f39c12;
    box-shadow: 1px 2px 2px rgb(0,0,1);
    text-decoration: teal;
    text-shadow:0 2px 2px royalblue;
    cursor: pointer;
}


.text-box{

 position: absolute;
 background-image:
    linear-gradient(to right ,rgba(209, 180, 12, 0.5) 5%,
    rgba(115, 67, 134, 0.815)75%);
 top:50%;
 left:50%;
 transform: translate(-50%,-50%);
  width: 100rem;
  padding: 2rem;
  box-shadow: 2px 10px 4px rgb(0,0,1);
  border: 2px solid #f2e6ff;
  border-width: 2rem;
  border-left-width: .1rem;
  border-right-width: 0.1rem;
  border-top-width: 0;
  border-bottom-left-radius:1rem;
  border-bottom-right-radius:1rem;
   text-transform: capitalize;
   word-spacing: 1rem;
   letter-spacing: 1rem;

}

.h1te{

    color: rgb(234, 235, 227);
    margin: 0 1rem;
    font-weight: 500;
    font-size: 2.5rem;

    text-shadow: 2px 1px 2px #7502f0, 0 0 1em rgba(115, 67, 134, 0.459), 0 0 0.2em rgba(163, 67, 201, 0.89);


}


.btn{

    padding: 1.5rem 1rem;

    border-radius: 10rem;
    width: 20rem;
    cursor: pointer;
    outline: none;
}




.btn-header{
    margin-top: 2rem;
    background-color: rgb(55, 8, 59);
    font-size: 1.5rem;
    transition: all .2s;
    box-shadow: 0 2px 2px rgb(0,0,1);
}




.btn-header:hover,.btn-header:active{
    box-shadow: 0 1px 1px rgb(12, 12, 46);
    background-color:  rgba(55, 8, 59, 0.493);
    color: #f2e6ff;
}



/*--------------------BOdy-site start--------------------*/



.body-site{

    margin-top: -20rem;
    background-size: cover;
    background-position: top;
    padding: 3rem 0;
    background-image:
    linear-gradient(to right ,rgba(12, 111, 209, 0.89) 5%,
    rgba(115, 67, 134, 0.904)75%),
    url('https://raw.githubusercontent.com/saigowthamr/Html-Css-grid/9026f9bb445e017fbf0c43deacfd1e304c71a5d7/images/body-site-min.jpeg');

     height:100rem;

     background-attachment: fixed;
}

.body-starts{
    margin-top: 20rem;

    padding: 2rem;

}

.row1{
     max-width: 100rem;
     margin: 0 auto;
     display: grid;
     grid-template-columns: repeat(3,1fr);

     grid-gap:3rem;

}

.col-md-3{
    box-shadow: 0 7px 8px black;
    /* box-shadow: .1rem .2rem .4rem #111011; */
    margin-top:2rem;
    padding: 2rem;
    font-size: 1.4rem;
    word-spacing: .3rem;
    background-color: #f2e6ff;



    border: 10px solid #f2e6ff;


    border-top:
    8rem solid  rgba(69, 16, 99, 0.603);
}



.body-h1{
    transition: all .2s;
    text-align: center;
    margin-bottom: 5rem;
    position: relative;
    z-index: 1000;
    border-left-style: double;
    border-right-style: double;
    border-left-width: 1rem;
    border-right-width: 1rem;

    height: 9rem;
    padding: 1.2rem 0;
    box-shadow: 0 7px 8px black;
    background-image:
    linear-gradient(to right ,rgba(209, 180, 12, 0.5) 5%,
    rgba(115, 67, 134, 0.815)75%);
}

.body-h1::before{
    position: absolute;
    content: "";
    display: block;
    margin-top: 1rem;
    height: .2rem;
    width:98.1rem;
    left: -1rem;
    background-color: inherit;
    top: 5rem;
    z-index: -2;

    border-top: .2rem solid rgba(255, 255, 255, 0.623);

}

.body-h1::after{
    position: absolute;
    content: "";
    display: block;
    margin-top: 1rem;
    height: .2rem;
    width:98.1rem;
    left: -1rem;
    background-color: inherit;
    top: -1.2rem;
    z-index: -2;

    border-top: .2rem solid rgba(255, 255, 255, 0.623);

}


.body-h1:hover{

    text-shadow: none;
    letter-spacing: .2rem;
}

.h2body{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 6rem;
    margin-top: -7rem;
    color: #f2e6ff;
    letter-spacing: .4rem;
}



/*--------------------Features start--------------------*/

.features-start{
     margin-top: -10rem;
    height: 100rem;
    transform: skewY(5deg);
    background-image:
    linear-gradient(to right ,transparent 5%,
    rgba(115, 67, 134, 0.904)75%),
    url('https://raw.githubusercontent.com/saigowthamr/Html-Css-grid/9026f9bb445e017fbf0c43deacfd1e304c71a5d7/images/features.jpeg');
    background-color: black;
    background-size: cover;

}

.features-1{
    transform: skewY(-5deg);

    position: relative;
}
.rowfe{
   position: absolute;
   top: 12rem;
  left: 2rem;
  right: 2rem;
}

.row-fe-start{

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 3rem;

}


.col-md-4{
    background-image:
    url('https://raw.githubusercontent.com/saigowthamr/Html-Css-grid/9026f9bb445e017fbf0c43deacfd1e304c71a5d7/images/features.jpeg');
    background-size: cover;
    padding: 1rem;
    box-shadow: 0 7px 8px black;
    border: 1px solid  rgb(204, 197, 197);
    border-top-color:transparent;
    z-index: 400;
}

.feature-modi{
    position: relative;
    z-index: 50;
}

.feature-modi::before{
    position: absolute;
    content: "";
    bottom: -1rem;
    left: 0rem;
    width: 99.8rem;
    height: 1rem;
    color: ivory;
    background-color: honeydew;
    border-top: none;
    z-index: 20;


}

.feature-modi::after{
    position: absolute;
    content: "";
    top: 0rem;
    left: 0rem;
    width: 99.8rem;
    height: .1rem;
    color: ivory;
    background-color: honeydew;
}


.h3-fe{
    margin-top: 1rem;
    text-align: center;
    color: #ddd;
    font-size: 2rem;
    letter-spacing: .2rem;
    font-weight: normal;
}

.img-features{

    width: 100%;
    height: 120%;
    padding: 2rem;
    transition:all .3s ease-out ;
    transform: scale(.9);
    overflow: hidden;
    transform: scale(1);
    box-shadow: 0 2px 2px rgb(0,0,1);
    cursor: pointer;
    filter: contrast(200%);
    filter: drop-shadow(0px 16px 20px rgba(240, 240, 240, 0.596)) ;


}



.img-features:hover{

    transform: scale(1.1);
    box-shadow: none;
}


/*--------------------     About us     --------------------*/

.section-4-starts{

    height: 100rem;
    margin-top: -15rem;

-webkit-clip-path: polygon(50% 0%, 100% 8%, 100% 100%, 56% 100%, 0 100%, 0 8%);
clip-path: polygon(50% 0%, 100% 8%, 100% 100%, 56% 100%, 0 100%, 0 8%);




background-image:
linear-gradient(to right ,rgba(0, 0, 0, 0.671) 5%,
rgba(115, 67, 134, 0.904)85%),
url('https://raw.githubusercontent.com/saigowthamr/Html-Css-grid/9026f9bb445e017fbf0c43deacfd1e304c71a5d7/images/horse-min.jpg');
background-position: center;
background-size: cover;

}

.about-begin{

    position: relative;

}

.about{
   position: absolute;
   top: 10rem;
   left: 2rem;
   right: 2rem;
   height: 10rem;

}


.abt-row{
  width: 100%;
  display: grid;
  grid-template-rows:repeat(3,1fr);
  grid-gap: 1rem;


}

.col-1{
    transform: scale(1.1);
    margin-top: 2rem;
    height: 20rem;
    background-image:
    linear-gradient(to right ,rgba(50, 14, 179, 0.966) 5%,
    rgba(86, 8, 126, 0.904)85%);
    background-position: top;
    background-size: cover;
    box-shadow: 0 10px 5px black;
}
.col-1:first-child{
    margin-top: -1rem;
    background-image:none;
    z-index: 60;


}
.col-1:nth-child(2){
    margin-top: -4rem;
    background-image:none;
    z-index: 2;

}

.col-1:nth-child(3){
    margin-top: -5rem;
    background-image:none;
    z-index: 1;
}

.col-1:nth-child(4){
    margin-top: -3rem;
    position: relative;
    background-image: none;
}

.about-content{
    width: 70%;

   margin-left: 15%;
   margin-right: 15%;
}

.content-start{
      width: 20%;
     margin-top:10rem;
     font-family: cursive;
     font-size: 1.4rem;
     padding: 2rem;
     text-align: center;
     color: #f2e6ff;
      transition: all .3s;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 0 5px 4px black;
      border-radius: 100px;
}

.content-start:hover{

     transform: rotate(2deg);
     cursor: pointer;
     box-shadow: none;
}





















